.img{
    margin-left:40%;
    width: 30px;
}
h1{
    margin-left:40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#lampada{
    width: 400px;
}
.T{
    font-size: 100px;
}